<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServicioAdministrador">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IJugador">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/ServicioGloomm/ServicioGloom"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioAdministrador"
                contract="ServicioGloom.IServicioAdministrador" name="NetTcpBinding_IServicioAdministrador">
                <identity>
                    <userPrincipalName value="NMH14\nmh14" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/ServicioGloomm/ServicioGloom"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJugador"
                contract="ServicioGloom.IJugador" name="NetTcpBinding_IJugador">
                <identity>
                    <userPrincipalName value="NMH14\nmh14" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>