<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IJugador">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAmigos">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ISala">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/ServicioGloomm/ServicioJugador"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJugador"
                contract="ServicioGloom.IJugador" name="NetTcpBinding_IJugador">
                <identity>
                    <userPrincipalName value="CUCHAU\kahun" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/ServicioGloomm/ServicioAmigos"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAmigos"
                contract="ServicioGloom.IAmigos" name="NetTcpBinding_IAmigos">
                <identity>
                    <userPrincipalName value="CUCHAU\kahun" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/ServicioGloomm/ServicioSala"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISala"
                contract="ServicioGloom.ISala" name="NetTcpBinding_ISala">
                <identity>
                    <userPrincipalName value="CUCHAU\kahun" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>