<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAmigos">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ISala">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioJuegoTablero">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioCarta">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioHistorialPartida">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChat1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IInvitacion1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IJugador">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAmigos1">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ISala1">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioJuegoTablero1">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioCarta1">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioHistorialPartida1">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICreacionPartida">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChat">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IInvitacion">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/ServicioGloomm/ServicioHistorialPartida"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioHistorialPartida"
                contract="ServicioGloom.IServicioHistorialPartida" name="NetTcpBinding_IServicioHistorialPartida">
                <identity>
                    <userPrincipalName value="CUCHAU\kahun" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://192.168.1.249:8090/ServicioGloom/ServicioJugador"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJugador"
                contract="ServicioGloom.IJugador" name="NetTcpBinding_IJugador" />
            <endpoint address="net.tcp://192.168.1.249:8090/ServicioGloom/ServicioAmigos"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAmigos1"
                contract="ServicioGloom.IAmigos" name="NetTcpBinding_IAmigos" />
            <endpoint address="net.tcp://192.168.1.249:8090/ServicioGloom/ServicioSala"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISala1"
                contract="ServicioGloom.ISala" name="NetTcpBinding_ISala" />
            <endpoint address="net.tcp://192.168.1.249:8090/ServicioGloom/ServicioJuegoTablero"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioJuegoTablero1"
                contract="ServicioGloom.IServicioJuegoTablero" name="NetTcpBinding_IServicioJuegoTablero" />
            <endpoint address="net.tcp://192.168.1.249:8090/ServicioGloom/ServicioCarta"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioCarta1"
                contract="ServicioGloom.IServicioCarta" name="NetTcpBinding_IServicioCarta" />
            <endpoint address="net.tcp://192.168.1.249:8090/ServicioGloom/ServicioHistorialPartida"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioHistorialPartida1"
                contract="ServicioGloom.IServicioHistorialPartida" name="NetTcpBinding_IServicioHistorialPartida1" />
            <endpoint address="net.tcp://192.168.1.249:8090/ServicioGloom/ServicioCreacionPartida"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICreacionPartida"
                contract="ServicioGloom.ICreacionPartida" name="NetTcpBinding_ICreacionPartida" />
            <endpoint address="net.tcp://192.168.1.249:8090/ServicioGloom/ServicioChat"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChat"
                contract="ServicioGloom.IChat" name="NetTcpBinding_IChat" />
            <endpoint address="net.tcp://192.168.1.249:8090/ServicioGloom/ServicioInvitacion"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IInvitacion"
                contract="ServicioGloom.IInvitacion" name="NetTcpBinding_IInvitacion" />
        </client>
    </system.serviceModel>
</configuration>